<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header> Lista de Tarefas</header>

  <form action="">
    <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
    <button id="addButton" type="submit">Adicionar</button> 
  </form>

  <li>
    <a id="result"></a>
  </li>
  <script src="script.js"></script>
</body>
</html>