<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Apenas para desenvolvimento local -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:3000/;"
    />
    <!-- Apenas para desenvolvimento local -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>Lista de Tarefas</header>
    <h1>To Do List</h1>

    <form action="/tasks" method="post">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" /><br />

      <label for="user">Usuário:</label>
      <input type="text" id="user" name="user" /><br />

      <input type="submit" value="addTask" /><br /><br />
    </form>

    <!-- Lista de tarefas -->
    <ul>
      <% tasks.forEach(task => { %>
      <li>
        <%= task.title %> - <%= task.user %>
        <a href="/tasks/<%= task.id %>" data-id="<%= task.id %>">Excluir</a>
      </li>
      <% }); %>
    </ul>

    <form action="/tasks/:taskId" method="post">
      <label for="delete">Excluir tarefa</label><br />

      <label for="description">ID da tarefa:</label>
      <input type="number" id="id_tarefa" name="id_tarefa" /><br />

      <input type="submit" value="deleteTask" />
    </form>
  </body>
</html>
